<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Productos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header class="header-content">
        <div class="header-section">
            <div class="header-tools">
                <a th:href="@{/}" class="logo-kinal-app">
                    <img class="logo-kinal-img" th:src="@{/img/Kinal-logo.png}" alt="Logo Kinal">
                </a>

                <a th:href="@{/}" class="home-link">
                    <img class="home-img" th:src="@{/img/Home.png}" alt="Home">
                </a>
            </div>
            <span class="title-app">Gestión de Productos</span>
        </div>
    </header>

    <main class="main-content">
        <div class="table-container">
            <div class="table-header">
                <span class="table-title">Catálogo de Productos</span>

                <a th:href="@{/productos/nuevo}" class="btn-add">
                    + Nuevo Producto
                </a>
            </div>

            <form th:action="@{/productos}" method="get" class="search-container">
                <input class="search-input" type="number" name="q" placeholder="Buscar por código..." th:value="${param.q}">
                <button class="search-button" type="submit">Buscar</button>

                <a th:href="@{/productos}" class="btn-clear">Limpiar</a>
            </form>

            <table class="custom-table">
                <thead class="table-head">
                <tr>
                    <th class="table-cell">Código</th>
                    <th class="table-cell">Nombre</th>
                    <th class="table-cell">Precio</th>
                    <th class="table-cell">Stock</th>
                    <th class="table-cell">Estado</th>
                    <th sec:authorize="hasRole('ADMIN')" class="table-cell">Acciones</th>
                </tr>
                </thead>

                <tbody>
                <tr class="table-row" th:each="p : ${productos}">
                    <td class="table-cell" th:text="${p.codigoProducto}"></td>
                    <td class="table-cell" th:text="${p.nombreProducto}"></td>
                    <td class="table-cell" th:text="'Q' + ${p.precio}"></td>
                    <td class="table-cell" th:text="${p.stock}"></td>

                    <td class="table-cell">
                            <span class="badge"
                                  th:classappend="${p.estado == 1} ? 'badge-active' : 'badge-inactive'"
                                  th:text="${p.estado == 1} ? 'Activo' : 'Inactivo'">
                            </span>
                    </td>

                    <td class="table-cell">
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/productos/editar/{id}(id=${p.codigoProducto})}"
                           class="btn-action btn-edit">Editar</a>

                        <a sec:authorize="hasRole('ADMIN')" href="#" class="btn-action btn-delete" onclick="alert('La opción eliminar no está disponible'); return false;">
                            Eliminar
                        </a>
                    </td>
                </tr>

                <tr th:if="${#lists.isEmpty(productos)}">
                    <td class="table-cell" colspan="6">No se encontraron productos registrados</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>