body {
    margin: 0;
    font-family
    background: linear-gradient(to bottom, black, blue);
}

.header-content{
    background: linear-gradient(100deg, blue, purple);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section{
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem .8em;
}

.logo-kinal-app{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-kinal-img{
    height: 120px;
    width: 120px;
}