body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #121212, #1a1a1a);
}

.header-content{
    background: linear-gradient(100deg, #10b981, #059669);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section{
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem .8em;
}

.header-tools{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px; /* separación entre logo y home */
}

.logo-kinal-app{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-kinal-img{
    height: 120px;
    width: 145px;
    transition: transform 0.3s ease;
}

.home-img{
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo-kinal-app:hover,
.home-link:hover{
    transform: translateY(-4px);
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

.main-options {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #2c2a2a;
    padding: 2.5rem;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.option-container:hover {
    background-color: #10b981;
    transform: translateY(-8px);
}

.option-img {
    width: 100px;
    height: 100px;
    margin-bottom: 1.2rem;
}


/* Estilos de Tablas */
.table-container {
    width: 90%;
    max-width: 1100px;
    background-color: #2c2a2a;
    border-radius: 15px;
    padding: 25px;
    color: white;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-title {
    font-size: 1.5rem;
}

.btn-add {
    background-color: #10b981;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.search-container {
    margin-bottom: 15px;
}

.search-input {
    padding: 8px;
    border-radius: 6px;
    border: none;
    width: 250px;
}

.search-button {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background-color: #10b981;
    color: white;
    cursor: pointer;
}

.btn-clear {
    background-color: #10b981;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 8px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-clear:hover {
    background-color: #666;
    transform: translateY(-2px);
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table-head {
    background-color: #10b981;
}

.table-cell {
    text-align: center;
    border-right: 1px solid #444;
    padding: 14px 10px;
}

.table-head .table-cell {
    border-right: 1px solid #666;
}

.table-row {
    border-bottom: 1px solid #333;
    height: 55px;
}

.badge {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.75rem;
}

.badge-admin {
    background-color: #6366f1;
}

.badge-user {
    background-color: #10b981;
}

.badge-active {
    background-color: #10b981;
}

.badge-inactive {
    background-color: #ef4444;
}

.btn-action {
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.8rem;
    text-decoration: none;
    margin-right: 5px;
}

.btn-edit {
    background-color: #f59e0b;
    color: black;
}

.btn-delete {
    background-color: #ef4444;
    color: white;
}

.btn-disabled {
    background-color: #555;
    color: #aaa;
    pointer-events: none;
}


/* Estilos de Formularios  */
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    }

.form-card {
    background-color: #2c2a2a;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    color: white;
}

.form-title {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-size: 0.8rem;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.form-select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-save {
    background-color: #10b981;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-cancel {
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-logout {
    background-color: #ef4444;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 16px;
}

.header-section2{
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem .8em;
    gap: 30px;
}