body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #121212, #1a1a1a);
}

.header-content{
    background: linear-gradient(100deg, #10b981, #059669);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section{
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem .8em;
}

.logo-kinal-app{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-kinal-img{
    height: 120px;
    width: 145px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

.main-options {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #2c2a2a;
    padding: 2.5rem;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.option-container:hover {
    background-color: #10b981;
    transform: translateY(-8px);
}

.option-img {
    width: 100px;
    height: 100px;
    margin-bottom: 1.2rem;
}