<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<header class="header-content">
    <div class="header-section">
        <div class="header-tools">
            <img class="logo-kinal-img" th:src="@{/img/Kinal-logo.png}">
        </div>
        <span class="title-app">Login</span>
    </div>
</header>

<div class="form-container">
    <div class="form-card">

        <h2 class="form-title">Iniciar Sesión</h2>

        <form th:action="@{/login}" method="post">

            <div class="form-group">
                <label class="form-label">Usuario</label>
                <input type="text" name="username" class="form-input" required>
            </div>

            <div class="form-group">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-input" required>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-save">Ingresar</button>
                <a class="btn-cancel">Botón no disponible</a> <!-- th:href="@{/register}" -->
            </div>

            <div th:if="${param.error}" style="color:red;">
                Usuario o contraseña incorrectos
            </div>

        </form>

    </div>
</div>

</body>
</html>